.button {
    color: rgb(117, 1, 1);
    font-size: medium;
    font-weight: 700;
    background-color: rgb(80, 170, 255);
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 6px;
}

.mainText {
    width: 100%;
    margin-left: 26%;
    color: blue;
    padding: 10px;
}

.mainText h1 {
    margin-left: 8%;
}