body {
    padding: 20px;
}

.cake-img {
    width: 300px;
    height: 300px;
}

#cheese-arrow {
    font-size: 20px;
}


.arrow {
    width: 10px;
    height: 10px;
}

.hdn {
    display: none;

}

.reciepe {
    width: 20%;
}